<!DOCTYPE HTML>
<html>
    <head>
        <title>{{title}}</title>
    </head>
 <body>
     <p> Abhyuday Tripathi {{year}}</p>
     <form id="form">
     <input type="text" placeholder="Target" id="data">
     <input type="submit" value="Post">
     </form>
     <script src=/static/ajax.js></script>
 </body>       
 </html>
